<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<string>1</string>
	</dict>
	<key>Label</key>
	<string>hunch.test-dir-changes</string>
	<key>LowPriorityIO</key>
	<string>0</string>
	<key>OnDemand</key>
	<string>1</string>
	<key>Program</key>
	<string>/Users/rasmus/src/image-hg-repo/action.sh</string>
	<key>WatchPaths</key>
	<array>
		<string>/Users/rasmus/src/image-hg-repo/test-repo</string>
	</array>
</dict>
</plist>
